<h3>Zasady gry:</h3>
<div>
  <form #form="ngForm" novalidate (ngSubmit)="confirm()">
  <div class="form-inline">
      <label class="mr-1">Ilość graczy:</label>
      <input class="form-control" type="number" [value]="maxPlayers" name="maxPlayers" [(ngModel)]="maxPlayers" min="3" max="6"/>
  </div>
  <div class="form-inline">
    <label class="mr-1">Standardowe zasady:</label>
    <input type="checkbox" [(value)]="standardRules" name="standardRules" [(ngModel)]="standardRules"/>
  </div>
  <div *gotDisable="standardRules">
    <div class="card">
      <div class="card-header" [class.bg-primary]="!standardRules" [class.text-white]="!standardRules"><h4>Rody</h4></div>
      <div class="body">
        <div class="form-inline">
          <label class="mr-1">Wszystkie rody:</label>
          <input type="checkbox" [value]="allHouses" name="allHouses" [(ngModel)]="allHouses" />
        </div>
        <div class="form-inline">
          <label class="mr-1">Losowe rody:</label>
          <input type="checkbox" [value]="randomHouses" name="randomHouses" [(ngModel)]="randomHouses" />
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" [class.bg-primary]="!standardRules" [class.text-white]="!standardRules"><h4>Warunki zwycięstwa</h4></div>
        <div class="body">
          <div class="form-inline">
            <input type="radio" class="" id="roundLimit" name="winUnlimitedRounds" />
            <label class="mr-1">Ilość rund:</label>
            <input class="form-control mr-1" type="number" [value]="winRoundCount" name="winRoundCount" [(ngModel)]="winRoundCount" min="5" max="20"/>
            <input type="radio"  class="" id="unlimitedRounds" [value]="winUnlimitedRounds" name="winUnlimitedRounds" [(ngModel)]="winUnlimitedRounds" />
            <label class="mr-1">Nieograniczone</label>
          </div>
          <div class="form-inline">
              <input type="radio" class="ml-5" id="winCastleCount" name="isWinCastles" />
              <label class="mr-1">Ilość zamków:</label>
              <input class="form-control" type="number" [value]="winCastles" name="winCastles" [(ngModel)]="winCastles" min="7" max="11"/>
          </div>
          <div class="form-inline">
            <input type="radio" class="ml-5" id="winPointCount" name="isWinCastles" [(ngModel)]="isWinCastles" />
            <label class="mr-1">Ilość punktów:</label>
            <input class="form-control" type="number" [value]="winPoints"  name="winPoints" [(ngModel)]="winPoints" min="15" max="30" />
          </div>
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success btn-sm text-right float-right mt-1">Zatwierdź</button>
</form>
</div>
