<div *ngIf="isAuthorized" style="right:auto">
    <div style="right: inherit;">
        <button class="btn btn-warning btn-sm" (click)="toggleChangePlayerCard()">{{getTranslation(localKeys.changePlayerBtn)}}</button>
        <div *ngIf="showChangePlayerCard" class="card fixed-top" style="position: absolute; width: 10rem; height: 8rem; top: 100%;">
          <div class="card-body">
            <input class="form-control mb-1" type="text" [(value)]="playerId" (change)="setPlayerId($event.target.value)" />
            <div class="btn-group">
              <button class="btn btn-warning btn-sm" (click)="changePlayerId()">{{getTranslation(localKeys.changePlayerBtn)}}</button>
              <button class="btn btn-danger btn-sm" (click)="clearPlayer()">{{getTranslation(localKeys.clearPlayerBtn)}}</button>
            </div>

          </div>
        </div>
      </div>
</div>
