<div class="form-inline float-right">
  <label class="form-control form-control-sm mr-1 mt-1" [ngClass]="houseDescription.styles.label" style="font-size: small; background-color: transparent">{{getTranslation(localKeys.roundNumberLbl)}}: <span class="font-weight-bold">{{gameBoard.roundNumber}}</span></label>
  <label class="form-control form-control-sm mr-1 mt-1" [ngClass]="houseDescription.styles.label" style="font-size: small; background-color: transparent">{{getTranslation(localKeys.phaseLbl)}}: <span class="font-weight-bold">{{getTranslation(gameBoard.currentRoundPhase)}}</span></label>
</div>
