<div>
  <button class="btn btn-light btn-sm" (click)="toggleShowAuthCard()"><span class="fa fa-user"></span></button>
  <div *ngIf="showAuthCard" class="card fixed-top" style="position:absolute; width: 10rem; height: 11.5rem; top:100%;">
    <div class="card-body">
      <form *ngIf="!isAuthorized" novalidate class="" #form="ngForm" (ngSubmit)="submitForm(form)">
        <div class="form-group m-0">
          <label class="m-0">Login:</label>
          <input class="form-control m-0" type="text" [(ngModel)]="userName" name="userName"/>
        </div>
        <div class="form-group m-0">
          <label class="m-0">Hasło:</label>
          <input class="form-control m-0" type="password" [(ngModel)]="password" name="password"/>
        </div>
        <button class="btn btn-success btn-sm mt-1" type="submit"><span class="fa fa-check"></span></button>
      </form>
      <button *ngIf="isAuthorized" class="btn btn-danger btn-sm"><span class="fa fa-times"></span></button>
    </div>
  </div>
</div>
