<div *ngIf="houseDescription !== undefined">
    <div class="card" style="border: none">
        <div class="card-header text-center text-white" [style.background-color]="houseDescription.styles.firstColor">
            <h3>{{houseDescription.getTranslation('HouseName')}}</h3>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img [src]="houseDescription.imageSrc" />
              </div>
              <div class="text-center" style="font-size: small">{{houseDescription.getTranslation('Sentence')}}</div>
              <div class="text-justify">{{houseDescription.getTranslation('Description')}}</div>
        </div>
      </div>
 </div>



