<ng-template got-windowGenerator></ng-template>
<got-gameInfo class="mb-5" [gameBoard]="gameBoard"></got-gameInfo>
<div class="inline btn-group mt-2 ml-4 mr-1" style="width: 93.5%">
  <button class="btn btn-outline-dark btn-sm" [ngClass]="houseDescription.styles.button" (click)="onPowerTrackBtnClick()">{{getTranslation(localKeys.powerTracksBtn)}}</button>
  <button class="btn btn-outline-dark btn-sm" [ngClass]="houseDescription.styles.button" (click)="onSupplyTrackBtnClick()">{{getTranslation(localKeys.supplyTrackBtn)}}</button>
</div>
<div class="inline d-flex mt-5" style="width: 100%">
  <got-selectPawn [imageSrc]="houseDescription.footmanImageSrc" [pawnType]="'Footman'" [pawnClick]="pawnClick" (pawnClickChange)="pawnClick = $event"></got-selectPawn>
  <got-selectPawn [imageSrc]="houseDescription.knightImageSrc" [pawnType]="'Knight'" [(pawnClick)]="pawnClick"></got-selectPawn>
  <got-selectPawn [imageSrc]="houseDescription.shipImageSrc" [pawnType]="'Ship'" [(pawnClick)]="pawnClick"></got-selectPawn>
  <got-selectPawn [imageSrc]="houseDescription.towerImageSrc" [pawnType]="'Tower'" [(pawnClick)]="pawnClick"></got-selectPawn>
</div>
<got-tokens></got-tokens>
<got-chat [showPlayerList]="true" [ngStyle]="displayChat()" style="position: absolute; top: 67.4%; left: 47.2%; width: 34.7rem; background-color: rgba(255, 255, 255, 0.8)"></got-chat>
<div style="position: absolute; bottom: 1%" class="d-flex ml-4 mt-1">
  <button class="btn btn-outline-success btn-lg-got mr-1" (click)="onHouseFieldsClick()" [ngStyle]="houseFieldsBtnStyle()"></button>
  <button class="btn btn-lg-got mr-1" [class.btn-dark]="!newMessages" [class.btn-warning]="newMessages" (click)="onChatBtnClick()"><span class="fa fa-comment fa-3x" ></span></button>
  <button class="btn btn-primary btn-lg-got mr-1"><span class="fa fa-arrow-circle-right fa-3x"></span></button>
</div>
