<div class="card justify-content-center text-center">
  <div class="card-body">
    <div class="btn-group-vertical">
      <button class="btn btn-light" routerLink="/gameList" routerLinkActive="router-link-active">{{getTranslation(localKeys.enterTheGameBtn)}}</button>
      <button class="btn btn-warning" routerLink="/mainBoard" routerLinkActive="router-link-active">{{getTranslation(localKeys.lookBoardBtn)}}</button>
      <button class="btn btn-dark">{{getTranslation(localKeys.aboutGameBtn)}}</button>
    </div>
  </div>
</div>

