<div class="card justify-content-center text-center">
  <div class="card-body">
    <div class="btn-group-vertical">
      <button class="btn btn-light" routerLink="/gamelist" routerLinkActive="router-link-active">{{getTranslation(localKeys.enterTheGameBtn)}}</button>
      <button class="btn btn-warning" routerLinkActive="router-link-active" (click)="quickStart('Quick game')">{{getTranslation(localKeys.quickStartBtn)}}</button>
      <button class="btn btn-dark">{{getTranslation(localKeys.aboutGameBtn)}}</button>
    </div>
  </div>
</div>

