<div class="row">
  <div class="col-10-got">
    <ng-template got-pawnGenerator></ng-template>
    <ng-template got-windowGenerator></ng-template>
    <got-mainboard style="height: -webkit-fill-available; display: inline-block; width:-webkit-fill-available;"
      (fieldClickChange)="onFieldClick($event)"></got-mainboard>
  </div>
  <div *ngIf="settings.showTooltip" class="card" [ngStyle]="settings.tooltipStyle">
    <div class="card-body p-1">
      {{settings.tooltipMessage}}
    </div>
  </div>
  <div class="col-2-got">
      <got-gamePanel [gameBoard]="gameBoard" [currentHouse]="currentHouse" [(pawnClick)]="pawnClick"></got-gamePanel>
    </div>
</div>



